.noise {
  background: url("/assets/images/noise.png");
  display: block;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: multiply;
  overflow: hidden;
  width: 200vw;
  height: 200vh;
  left: -50vw;
  top: -50vh;
  -webkit-animation: noise-animation 1.6s steps(2) infinite;
  animation: noise-animation 1.6s steps(2) infinite;
  will-change: transform;
}

@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5vw, -5vh);
  }
  20% {
    transform: translate(-10vw, 5vh);
  }
  30% {
    transform: translate(5vw, -10vh);
  }
  40% {
    transform: translate(-5vw, 15vh);
  }
  50% {
    transform: translate(-10vw, 5vh);
  }
  60% {
    transform: translate(15vw, 0vh);
  }
  70% {
    transform: translate(0vw, 10vh);
  }
  80% {
    transform: translate(-15vw, 0vh);
  }
  90% {
    transform: translate(10vw, 5vh);
  }
  100% {
    transform: translate(5vw, 0vh);
  }

}
