<ng-container *ngIf="scrollHasDetected">
  <section class="flex_cont h-full w-full relative mt-[7.5rem]">
    <aside class="w-1/2 h-full pt-[7.5rem] flex_box flex-col">
      <span textHeaderAnimate class="font-textHeader text-[3rem]">Introduction</span>
      <div class="flex flex-row items-start justify-start w-full flex-wrap mt-[3rem]" textLetter>
        <ng-container *ngFor="let text of textSVGs">
          <svg [style.width.px]="text.name.length * 20" class="h-[60px]">
            <path class="path" stroke-width="1" fill="none" stroke="white" [attr.d]="text.val"></path>
          </svg>
        </ng-container>
      </div>
    </aside>
    <aside class="w-1/2">
      <img id="introCosmoMan"  ngSrc="/assets/images/intro.png" class="absolute right-0 top-[7.5rem]" alt="intro"
           height="694"
           width="552">
    </aside>
  </section>
</ng-container>
