<section class="flex_cont h-full w-full relative">
  <aside class="w-1/2 h-full flex_box flex-col">
    <p #introHeader class="font-textHeader text-[4rem]">Introduction</p>
<!--    <p class="text-center">-->
<!--      Hello, I'm Vazha Kiknadze, a middle Angular developer with a strong passion for front-end development. I have-->
<!--      acquired considerable expertise in this field, and I am always eager to learn and explore new technologies and-->
<!--      best practices. As a dedicated professional, I take pride in creating user-friendly and visually appealing web-->
<!--      applications to enhance the user experience.-->
<!--    </p>-->
  </aside>
  <aside class="w-1/2">
    <img #introCosmoMan ngSrc="/assets/images/intro.png" class="absolute right-0 top-[7.5rem]" alt="intro" height="694"
         width="552">
  </aside>
</section>
