<section class="flex_cont h-full w-full relative">
  <aside class="w-1/2 h-full flex_box flex-col">
    <p textHeaderAnimate class="font-textHeader text-[4rem]">Introduction</p>
    <svg viewBox="0 0 400 300">

      <g id="E">
        <path class="text-[red]" d="M 50 50 L 90 50"/>
      </g>

      <g id="G">

      </g>

    </svg>
  </aside>
  <aside class="w-1/2">
    <img #introCosmoMan ngSrc="/assets/images/intro.png" class="absolute right-0 top-[7.5rem]" alt="intro" height="694"
         width="552">
  </aside>
</section>
