<section class="fixed top-0 left-0 w-full h-full overflow-hidden">
  <div #main class="main flex items-center relative  w-full !h-[100vh]">
    <div #cosmonaut class="fixed top-[7.5rem]">
      <div #cosmonautContent>
        <img ngSrc="assets/images/me.png" alt="me" height="623" width="589">
      </div>
    </div>
    <div class="flex w-2/3 absolute right-0 -mt-[3.25rem]">
      <p #msgText class="font-msg text-[1.2rem] leading-10 text-center">
        Greetings, dear traveler! Welcome to my celestial domain, where fear is but a distant comet. Fear not, for I
        am also here, donning a splendid space suit as we embark on a wondrous expedition together. Together, we shall
        traverse the boundless cosmos, unravelling its mysteries and embracing the breathtaking wonders that await us in
        the cosmic expanse. Onward, to the enchanting adventure that lies before us!
        <span #msgEndText class="invisible opacity-0">🚀🌌</span>
      </p>
    </div>
  </div>
</section>
