<section #cosmonaut class="relative" id="cosmoContent">
  <div class="relative w-fit">
    <button #tooltip="matTooltip"
            class="absolute left-[100%] top0"
            matTooltip="Galactic Alien From Distant Realm">
    </button>
    <img #cosmonautContent (mouseenter)="tooltip.show()" (mouseleave)="tooltip.hide()"
         ngSrc="assets/images/cosmoman.png" alt="cosmoman" height="860" width="449">
  </div>
  <span class="absolute left-[70px] bottom-[70px] w-[270px] h-[1rem] backdrop-blur-[2px]"></span>
</section>
