<section class="relative w-full h-full bg-red-900 flex_cont">
    <div class="fixed top-[7.5rem] left-[7.5rem] w-1/2">
        <ng-container #cosmomanElement>
        </ng-container>
    </div>
    <div class="flex w-1/2 absolute -mt-[3.25rem] right-[7.5rem]">
        <p #msgText class="font-msg text-[1.2rem] leading-10 text-center">
            Greetings, dear traveler! Welcome to my celestial domain, where fear is but a distant comet. Fear not, for I
            am also here, donning a splendid space suit as we embark on a wondrous expedition together. Together, we
            shall
            traverse the boundless cosmos, unravelling its mysteries and embracing the breathtaking wonders that await
            us in
            the cosmic expanse. Onward, to the enchanting adventure that lies before us!
            <span #msgEndText class="invisible opacity-0">🚀🌌</span>
        </p>
    </div>
</section>
