<section class="relative w-full h-full flex_cont">
  <div class="absolute top-[7.5rem] left-[7.5rem] w-1/2">
    <ng-container #cosmomanElement>
    </ng-container>
  </div>
  <div class="flex w-1/2 absolute -mt-[3.25rem] right-[7.5rem]">
    <p #msgText class="font-msg text-[1.2rem] leading-10 text-center">
      Greetings to you, celestial companion! With our splendid spacesuits, fear shall indeed remain a distant comet as
      we journey hand in hand
      through the boundless beauty of the universe. Together, we'll unveil the secrets of the cosmos, basking in the
      awe-inspiring wonders that await us in the vast expanse. Onward, to the enchanting adventure that beckons us!
      <span #msgEndText class="invisible opacity-0">🚀🌌🪐🌠</span>
    </p>
  </div>
</section>
